body {
    margin: 0;
    max-width: 100%;
}

.container {
    padding: 20px;
}

.main {
    display: flex;
}

.extraction {
    width: 50%;
    padding: 20px;
    margin: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

.translation {
    width: 50%;
    padding: 20px;
    margin: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

.textarea, .select {
    width: 100%;
    padding: 4px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 4px;
}

.button {
    background-color: #4444ee;
    color: white;
    cursor: pointer;
	margin: 4px;
}

.button:hover:not(:disabled) {
    background-color: #4444cc;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.error {
    background-color: #ffeeee;
    color: red;
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
}

.result {
    background-color: #ddffee;
    color: green;
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}