flask
flask-cors
flask-sqlalchemy
python-dotenv
torch
torchvision
transformers
numpy
scikit-learn
pillow
opencv-python-headless
easyocr
sentencepiece
pycld2

# for postgresql
psycopg2-binary

# for fine-tune trocr
datasets
evaluate
accelerate
jiwer